body{
  margin-top: 20px;
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron{
  text-align: center;
  background-color: transparent;
}

.monospace {
  font-family: monospace;
  color: white;
  font-size: 50px;
}

.medium-text {
  color: white;
  font-size: 30px;
  font-family: arial;
}
.blue-text {
  color: #5DADE2;
}

.small-text {
  color: white;
  font-size: 20px;
  font-family: arial;
}

.tempunits {
  background:none;
  border:none;
  font-size: 40px;
}
